$break-small: 638px;

//Fade in on page load
.fader {
  @include mui-animation(fade(in));
  animation-duration: 5s;
}

@media screen and (max-width: $break-small) {
  .fa-5x {
    font-size: 3em;
  }
}
