$break-small: 638px;

#footer {
  bottom: 0;
}

.profile {
  width: 200px;
  height: 190px;
}

.title {
  color: #000000;
}
.title:hover {
  color: #666666;
}

.callout.primary {
  background-color: #b9dff8;
}

.off-canvas {
  background-color: #bfbfbf;
}

@media screen and (max-width: $break-small) {
  .fa-5x {
    font-size: 3em;
  }
}
