{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-es2015-template-literals", "transform-runtime"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
       "plugins": ["react-hot-loader/babel"]
    }
  }
}
